#container1 {
    display: flex;
    align-items: center;
    background: #FAFAFA;
    padding-left: 25px;
    padding-right: 25px;
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 25px;
}

#container2 {
    border-radius: 25px;
}

#group1 {
    display: flex;
    align-items: center;
}

#group2 {
    align-items: center;
}

#button {
    display:inline-block;
    width: 278px;
    height: 51px;
    margin-bottom: 2%;
    padding: 0%;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

#button:hover{
    color: rgba(255, 0, 0, 0.5);
    background: white
}

#CGbutton{
    width: 278px;
    height: 51px;
    left: 748px;
    top: 559px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-top: 70px;
    background: rgba(255, 0, 0, 0.5);
    border-radius: 10px;
}

#botonB{
    background: rgba(255, 0, 0, 0.5);
}

#botonB:hover{
    color: rgba(255, 0, 0, 0.5);
    background: white
}

#icon1 {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#icon2 {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#botonG1 {
    margin-right: 8%;
    background: rgba(255, 0, 0, 0.5);
}

#botonG1:hover{
    color: rgba(255, 0, 0, 0.5);
    background: white
}

#botonC1 {
    margin-right: 1%;
    background: rgba(255, 0, 0, 0.5);
}

#botonC1:hover{
    color: rgba(255, 0, 0, 0.5);
    background: white
}

#BotonesSC {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}