.colGasto {
    display: felx !important  ;                    
    justify-content: flex-start !important  ;
    background-color: #FAFAFA !important  ;
    padding-bottom: 1em !important  ;
}

.colGasto button {
    background-color: #FAFAFA !important  ;
    color: rgba(253, 125, 125) !important  ;
    border-color: rgba(253, 125, 125) !important  ;
    font-weight: bold;
}

.colGasto button:hover {
    background-color: rgba(253, 125, 125) !important  ;
    border-color: #FAFAFA !important  ;
    color: #FAFAFA !important  ;
}

.colEnviar {
    display: flex !important  ;
    justify-content: flex-end !important  ;
    background-color: #FAFAFA !important  ;
}

.colEnviar button {
    color: #FAFAFA !important  ;
    background-color: rgba(253, 125, 125)!important  ;
    border-color: #FAFAFA !important  ;
    height: 40px;
    width: 5em;
}

.colEnviar button:hover {
    color: rgba(253, 125, 125) !important  ;
    background-color: #FAFAFA !important  ;
    border-color: rgba(253, 125, 125) !important  ;
}

thead {
    background: #ECECEC !important  ;
}