.badge {
    background-color: #a9d898 !important;
    border: 1px solid #5fa446 !important;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 5px;
}