#HeaderTitle {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 120px;
    margin-right: 120px;
    font-size: 26px;
}

#Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#FormSolicitBody {
    height: 26em; 
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}