.rdt_TableCol {
  background-color: #ececec;
  border: none;
  font-weight: 700;
}

.rdt_TableCell {
  background-color: rgb(250, 250, 250);
}

#basicButton {
  border: 1px solid rgba(255, 0, 0, 0.45) !important;
  border-radius: 0.4em !important;
  background-color: rgb(221, 110, 110) !important;
  padding: 0.3em !important;
  color: white !important;
}

#basicButton:hover {
  border: 1px solid rgba(255, 0, 0, 0.45) !important;
  border-radius: 0.4em !important;
  background-color: white  !important;
  padding: 0.3em !important;
  color: rgb(221, 110, 110) !important;
}

[role="boton"] {
  border: 1px solid rgba(255, 0, 0, 0.45) !important;
  border-radius: 0.4em !important;
  background-color: rgb(221, 110, 110) !important;
  padding: 0.3em !important;
  color: white;
}

[role="boton"]:hover {
  border: 1px solid rgba(255, 0, 0, 0.45) !important;
  border-radius: 0.4em !important;
  background-color: white  !important;
  padding: 0.3em !important;
  color: rgb(221, 110, 110);
}

.ticket_image {
  max-width: 500px;
  max-height: 500px;
}

.prueba1 {
  background-color: pink !important;
}
