.badge.acepatado {
    background-color: rgb(221, 110, 110) !important;
    border: 1px solid red;
    width: 75px;
    border-radius: 10px;
}

.badge.rechazado {
    background-color: rgb(39, 240, 173) !important;
    border: 1px solid rgb(55, 58, 209);
    width: 75px;
    border-radius: 10px;
}

.badge.pendiente{
    background-color: rgb(221, 110, 110) !important;
    border: 1px solid red;
    width: 75px;
    border-radius: 10px;
}

h5 {
    margin: 0;
}